<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Xampinyó's League</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <nav>
            <div class="logo">🍄 Xampinyó's League</div>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="#">Ranking</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Equip 3 - Educative Games Project</p>
    </footer>
</body>

</html>